version: '3'
services:
  app1:
    tty: true
    stdin_open: true 
    image: ebrahimh7/app1
    ports:
      - 8081:8080
    volumes:
      - type: bind
        source: ./app/data/batch
        target: /app/data/batch
    
  app2:
    image: ebrahimh7/app2
    depends_on:
      - ebrahimh7/app1
    ports:
      - 8082:8080
    volumes:
      - type: bind
        source: ./app/data/batch
        target: /app/data/batch
